body {
    font-family: 'RIDIBatang', sans-serif;
    width: 100%;
    max-width: 1920px;
    height: auto;
    font-size: 14px;
    color: #333;
    background-color: #808080;
    overflow-x: hidden; 
}

main {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

img {
    vertical-align: middle;
    width: auto;
    max-width: 100%;
}